@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
@font-face {
    font-family: "GothamBook";
    src: url("./GothamBook.eot");
    src: local("GothamBook"), url("./GothamBook.woff") format("woff"), url("./GothamBook.ttf") format("truetype");
}
@font-face {
    font-family: "gothambold1";
    src: url("./gothambold1.eot");
    src: local("gothambold1"), url("./gothambold1.woff") format("woff"), url("./gothambold1.ttf") format("truetype");
}
@font-face {
    font-family: "Gotham Medium Regular";
    // src: local("Gotham Medium Regular"), url("./gotham-medium-webfont.woff") format("woff"),
    src: url("fonts/Gotham Medium Regular/Gotham Medium Regular.ttf");
}

#s1 {
    height: 100%;
    min-height: 800px;
    min-width: 1600px;
    position: relative;
    background-image: url(img/section1.png);

    header {
        width: 100%;
        position: absolute;
        text-align: center;

        .inner1 {
            width: 1170px;
            margin: 0 auto;
            padding-top: 52px;
            display: flex;
            justify-content: space-between;
            .menu {
                display: inline-block;
                nav {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    float: left;
                    a {
                        text-decoration: none;
                        margin-left: 70px;
                        font-size: 14px;
                        font-family: "GothamBook";
                        color: white;
                        vertical-align: middle;
                        text-transform: uppercase;
                        .r1 {
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            border: 1px solid white;
                            float: left;
                            margin-right: 11px;
                        }
                        .r1.active {
                            background: white;
                        }
                    }
                    #logo {
                        margin-left: 0;
                        margin-right: 17px;
                    }
                    .contact {
                        margin-left: 102px;
                    }
                }
            }
            .social {
                padding-top: 10px;
                display: flex;
                justify-content: space-between;

                .icon {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: white 1px solid;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    float: left;
                    // margin-right: 18px;
                    margin-left: 20px;

                    .fab {
                        font-size: 14px;
                        color: white;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }

    .slid {
        padding-top: 360px;
        color: white;
        text-align: center;

        h1 {
            font-size: 80px;
            font-family: "gothambold1";
            text-transform: uppercase;
            margin: 0;
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
            font-family: "GothamBook";
            margin: 0;
            text-transform: uppercase;
            letter-spacing: 5px;
            // padding-top: 40px;
        }
        .a {
            background: #55b7ff;
        }
        .b {
            background: #7e5aff;
        }
        .c {
            background: tomato;
        }
        .d {
            background: yellow;
        }
    }
    .slick-dots {
        display: flex;
        flex-direction: column;
        left: 96%;
        top: -45%;
    }
    .slick-dots li {
        margin-bottom: 25px;
    }
    .slick-dots li button:before {
        content: "o";
        font-size: 24px;
        color: white;
        z-index: 1;
    }
    .slick-dots li.slick-active button:before {
        color: white;
        content: "•";
        font-size: 9px;
    }
    .scroll {
        text-align: center;
        position: absolute;
        top: 90%;
        left: 49%;
        .circle {
            border: white 1px solid;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            float: left;
            &:hover {
                border: blue 1px solid;
            }
        }

        .abt {
            align-items: center;
            .bt {
                position: absolute;
                width: 1px;
                height: 5px;
                background-color: white;
                transform: rotate(45deg);
                left: 23px;
                top: 18px;
            }
            .bt:after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 1px;
                height: 5px;
                background-color: white;
                transform: rotate(-90deg);
                transform-origin: 0% 100%;
            }
        }
    }
}
#s2 {
    height: 100%;
    min-height: 1630px;
    min-width: 1600px;
    position: relative;
    .inner2 {
        width: 1170px;
        height: 1632px;
        margin: 0 auto;
        padding-top: 80px;
        text-align: center;

        h1 {
            font-size: 44px;
            font-family: "gothambold1";
            text-align: center;
            text-transform: uppercase;
            margin: 0 auto;
            padding-top: 30px;
            padding-bottom: 90px;
        }
        .divs1 {
            width: 100%;
            height: 45%;
        }
        .img1 {
            background: #55b7ff;
            width: 50%;
            height: 470px;
            float: left;
            margin-left: -215px;
        }
        .img1::before {
            content: "";
            display: block;
            position: absolute;
            top: 100px;
            right: -215px;
            background-image: url(img/section2-1.png);
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            line-height: 0;
        }
        .text1 {
            width: 35%;
            height: 355px;
            padding-top: 120px;
            float: right;
            text-align: left;
        }
        .fas {
            float: left;
        }
        .t1 {
            font-size: 22px;
            font-family: "GothamBook";
            margin: 0;
            text-transform: uppercase;
        }
        .t2 {
            font-size: 44px;
            font-family: "gothambold1";
            margin-top: 0;
            text-transform: uppercase;
        }
        .t3 {
            font-size: 18px;
            font-family: "Open Sans";
            margin-bottom: 40px;
        }
        .t4 {
            font-size: 18px;
            font-family: "Open Sans Italic";
            margin: 0;
            padding-left: 16px;
        }
        form {
            margin-bottom: 60px;
            text-align: left;

            button {
                width: 190px;
                height: 50px;
                background: white;
                border: 1px solid black;
                font-size: 14px;
                font-family: "Gotham Book";
                text-transform: uppercase;
                &:hover {
                    background: gray;
                    border: 1px solid blue;
                }
            }
            button:focus {
                background: gray;
                border: 1px solid blue;
            }
        }
        .divs2 {
            width: 100%;
            height: 45%;
        }
        .text2 {
            width: 42%;
            height: 355px;
            float: left;
            text-align: left;
        }
        .img2 {
            background: #7e5aff;
            width: 50%;
            height: 470px;
            float: right;
            margin-right: -215px;
            position: relative;
            top: -50px;
        }
        .img2::before {
            content: "";
            display: block;
            position: absolute;
            top: 70px;
            left: -215px;
            background-image: url(img/section2-2.png);
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            line-height: 0;
        }
    }
}
#s3 {
    height: 100%;
    min-height: 1035px;
    min-width: 1600px;
    position: relative;
    background-image: url(img/section3.png);
    background-repeat: no-repeat;
    .inner3 {
        width: 1170px;
        height: 1035px;
        margin: 0 auto;
        padding-top: 120px;
        text-align: center;
        h1 {
            font-size: 44px;
            font-family: "Gotham Medium Regular";
            text-align: center;
            margin: 0 auto;
            padding-bottom: 100px;
            padding-top: 40px;
            color: white;
            text-transform: uppercase;
        }
        .slide2 {
            width: 370px;
            height: 520px;
            position: absolute;
            left: 40%;
        }
        .slider2 {
            width: 370px;
            height: 520px;
            background: white;
        }
        h2 {
            margin: 0;
            font-size: 22px;
            font-family: "GothamBold";
            padding-top: 30px;
            padding-bottom: 25px;
            text-transform: uppercase;
        }
        .sl1 {
            font-size: 18px;
            font-family: "OpenSans";
            margin: 0;
            padding-bottom: 30px;
        }
        .sl2 {
            font-size: 18px;
            font-family: "GothamBook";
            margin: 0;
            text-align: left;
            padding-left: 100px;
            padding-top: 20px;
            text-transform: uppercase;
        }
        .sl3 {
            font-size: 14px;
            font-family: "GothamBook";
            color: #55b7ff;
            margin: 0;
            text-align: left;
            padding-left: 100px;
        }
        .person {
            float: left;
            padding-left: 20px;
        }
        .slick-dots li {
            margin-right: 25px;
            top: 20px;
        }
        .slick-dots li button:before {
            content: "o";
            font-size: 24px;
            color: white;
            z-index: 1;
        }
        .slick-dots li.slick-active button:before {
            color: white;
            content: "•";
            font-size: 9px;
        }

        .slick-prev {
            left: -500px;
        }

        .slick-next {
            right: -500px;
        }
    }
}
#s4 {
    height: 100%;
    min-height: 1000px;
    min-width: 1600px;
    position: relative;
    .inner4 {
        width: 1170px;
        height: 1000px;
        margin: 0 auto;
        padding-top: 10px;
        text-align: center;
        h1 {
            font-size: 44px;
            font-family: "Gotham Medium Regular";
            text-align: center;
            margin: 0 auto;
            padding-bottom: 100px;
            padding-top: 20px;
            text-transform: uppercase;
        }
        .all {
            display: flex;
            justify-content: space-between;
        }
        .one {
            width: 580px;
            height: 440px;
            background: url(img/section4-1.png);
            background-repeat: no-repeat;
            float: left;
            img {
                position: relative;
                top: 45%;
            }
        }
        .four {
            width: 580px;
            height: 440px;

            .imgFour {
                display: flex;
                justify-content: space-between;
                padding-bottom: 10px;
            }
        }
        #MyBtn {
            margin-top: 60px;
            width: 200px;
            height: 50px;
            background: white;
            font-size: 14px;
            font-family: "GothamBook";
            text-transform: uppercase;
        }
        #myModal {
            display: none;
            position: fixed;
            left: 10%;
            top: 10%;
            width: 50%;
            height: 50%;
            background: url(img/section4-modal.png);
            background-repeat: no-repeat;
            // text-align: center;
            margin: 0 auto;
        }
        p {
            align-items: center;
            font-size: 24px;
            color: white;
            margin: 0 auto;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}
#s5 {
    height: 100%;
    min-height: 700px;
    min-width: 1600px;
    position: relative;
    #map {
        height: 700px;
        width: 100%;
    }
    #getTouch {
        text-align: center;
        width: 770px;
        height: 450px;
        position: absolute;
        top: 60%;
        left: 25%;
        z-index: 1;
        background: white;
        .line2 {
            margin-top: 60px;
        }

        h1 {
            font-size: 44px;
            font-family: "Gotham Medium Regular";
            margin: 0 auto;
            padding-bottom: 40px;
            padding-top: 30px;
            text-transform: uppercase;
        }
        p {
            font-size: 18px;
            font-family: "GothamBook";
            margin: 20px;
        }
        .dataForm {
            display: flex;
            justify-content: space-around;
            .data {
                text-align: left;
            }
        }
        .contact {
            text-align: left;
            padding-top: 30px;
        }
        label {
            color: #c9ccd0;
        }
        #email {
            width: 310px;
            height: 20px;
            background: white;
            border: none;
            border-bottom: 1px solid #d5d9de;
        }

        #suBmit {
            font-size: 14px;
            font-family: "GothamBook";
            text-transform: uppercase;
            width: 140px;
            height: 50px;
            background: white;
            border: 1px solid black;
            margin-top: 30px;
            margin-left: 160px;
        }
    }
}
footer {
    min-height: 525px;
    min-width: 1600px;
    position: relative;
    background: url(img/footer.png);
    .inner5 {
        width: 770px;
        height: 100%;
        margin: 0 auto;
        padding-top: 190px;
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                text-decoration: none;
                font-size: 14px;
                font-family: "GothamBook";
                text-transform: uppercase;
                color: white;
                vertical-align: middle;
            }
        }
        #logo1 {
            margin-right: 332px;
        }
        .social {
            display: inline-block;
            .icon {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: white 1px solid;
                display: flex;
                justify-content: center;
                align-items: center;
                float: left;
                margin-left: 22px;

                .fab {
                    font-size: 14px;
                    color: white;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .line4 {
            position: absolute;
            top: 44%;
        }
        .end {
            display: flex;
            justify-content: space-between;
            width: 55%;
            padding-top: 50px;

            .fin {
                font-size: 14px;
                font-family: "GothamBook";
                color: white;
                margin: 0;
            }
        }
    }
}
